{% extends "base.html"%}

{% block contents %}
    {% for blog in posts %}
        <div class="card border-secondary mt-3 mb-3">
            <h3 class="card-header"> {{blog.title}} </h2>
            <div class="card-body">
                <p class="card-subtitle mb-2 text-muted"> 날짜: {{blog.pub_date}} </p>
                <div class="badge badge-dark">본문 미리보기</div>
                <p class="card-text"> {{blog.summary}} </p>
                <a class="card-link" href="{% url 'detail' blog.id%}">...more</a>
            </div>
        </div>
    {% endfor %}
    
    {# First Previous #}
    {% if posts.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{posts.previous_page_number}}">Previous</a>
    {% endif %}

    {# 3 of 4 #}
    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>

    {# Next Last #}
    {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}">Next</a>
        <a href="?page={{posts.paginator.num_pages}}">Last</a>
    {% endif %}
{% endblock %} 